.categories{
	text-align: center;
	height: 10vh;
	margin-top: 15px;
	font-size: 20px;
	z-index: 1;
	width: 80%;
	background-color: #676754;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #fff;
	font-family: serif;
}

.categories:hover{
	background-color: #A7A7A4;
	cursor: pointer;
	color: white;
}