body{
	background-color: black;
}

.appheading{
	font-size: 24px;
	font-family: serif;
	color:white;
	float: left;
	padding-top: 10px;
}

.signup{
	font-size: 24px;
	float: right;
	color:white;
	margin: 5px;
	padding-top: 10px;
}

.search{
	text-align: center;
	margin-left:35%;
	width: 25%;
	float: left;
	padding-top: 10px;
}

